@model IEnumerable<BookSlimViewModel>

@foreach (var book in Model)
{
    <tr>
        <th scope="row">@book.Id</th>
        <td>
            <a asp-controller="Book" asp-action="BookDetails" asp-route-bookId="@book.Id">@book.Title</a>
        </td>
        <td>
            <a asp-controller="Author" asp-action="AuthorDetails" asp-route-authorId="@book.Author.Id">@book.Author.Name</a>
        </td>
        <td>@book.Genre</td>
        <td>@book.TotalPages</td>
        <td class="text-center"><span class="badge badge-success">@book.AvailabilityStatus.Name</span></td>
    </tr>
}