@{
    ViewBag.Title = "Create Book";
}

@model CreateBookViewModel

<div id="create-book">
    <div class="row gutters">
        <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 col-12 column">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h4 class="mb-3">Create Book</h4>
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <form asp-controller="Book" asp-action="CreateBook" method="post">
                        <div class="row gutters">
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group required">
                                    <label asp-for="@Model.Title" class="text-muted control-label">Title</label>
                                    <input asp-for="@Model.Title" type="text" class="form-control">
                                    <span asp-validation-for="@Model.Title" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="@Model.Description" class="text-muted">Description</label>
                                    <textarea asp-for="@Model.Description" type="text" class="form-control" rows="10" cols="50"></textarea>
                                    <span asp-validation-for="@Model.Description" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="@Model.Publisher" class="text-muted">Publisher</label>
                                    <input asp-for="@Model.Publisher" type="text" class="form-control">
                                    <span asp-validation-for="@Model.Publisher" class="text-danger"></span>
                                </div>
                                <div class="form-group required">
                                    <label asp-for="@Model.TotalPages" class="text-muted control-label">Pages</label>
                                    <input asp-for="@Model.TotalPages" type="number" class="form-control">
                                    <span asp-validation-for="@Model.TotalPages" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group required">
                                    <label asp-for="@Model.Language" class="text-muted control-label">Language</label>
                                    <select asp-for="@Model.Language" asp-items="@Model.LanguageOptions" class="form-control"></select>
                                    <span asp-validation-for="@Model.Language" class="text-danger"></span>
                                </div>
                                <div class="form-group required">
                                    <label asp-for="@Model.GenreId" class="text-muted control-label">Genre</label>
                                    <select asp-for="@Model.GenreId" asp-items="@Model.GenreOptions" class="form-control"></select>
                                    <span asp-validation-for="@Model.GenreId" class="text-danger"></span>
                                </div>
                                <div class="form-group required">
                                    <label asp-for="@Model.AuthorId" class="text-muted control-label">Author</label>
                                    <select asp-for="@Model.AuthorId" asp-items="@Model.AuthorOptions" class="form-control"></select>
                                    <span asp-validation-for="@Model.AuthorId" class="text-danger"></span>
                                </div>
                                <div class="form-group required">
                                    <label asp-for="@Model.AvailabilityStatusId" class="text-muted control-label">Status</label>
                                    <select asp-for="@Model.AvailabilityStatusId" asp-items="@Model.AvailabilityStatusOptions" class="form-control"></select>
                                    <span asp-validation-for="@Model.AvailabilityStatusId" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row gutters">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                <button type="submit" class="btn btn-primary">Save</button>
                                <a asp-controller="Book" asp-action="Index" class="btn btn-secondary btn-cancel">Cancel</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>