@{ 
    ViewBag.Title = "Books";
}

@model BookListViewModel

<div id="book">
    <div class="row">
        <div class="col-md-4">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <button class="btn btn-outline-dark btn-search" type="button"><i class="fas fa-search"></i></button>
                </div>
                <input type="text" class="form-control" placeholder="Search books by title, author or genre..." id="search-input">
            </div>
        </div>
        <div class="col-md-4">
            <div class="float-right">
                <a asp-controller="Book" asp-action="CreateBook" class="btn btn-primary">New</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Title</th>
                            <th scope="col">Author</th>
                            <th scope="col">Genre</th>
                            <th scope="col">Pages</th>
                            <th scope="col">Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var book in Model.Books)
                        {
                            <tr>
                                <th scope="row">@book.Id</th>
                                <td>@book.Title</td>
                                <td>@book.Author</td>
                                <td>@book.Genre</td>
                                <td>@book.TotalPages</td>
                                <td class="text-center"><span class="badge badge-success">@book.AvailabilityStatus.Name</span></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        var timer;
        $('#search-input').keyup(function () {
            clearTimeout(timer);
            var ms = 500;
            var query = this.value;
            timer = setTimeout(function () {
                $.ajax({
                    type: 'GET',
                    url: '@Url.Action("SearchBooks", "Book")',
                    data: { 'searchTerm': query },
                    success: function (data) {
                        $('.table tbody').empty();
                        $('.table > tbody:last-child').append(data);
                    },
                    error: function () {
                        // log error
                    }
                });
            }, ms)
        });
    });
</script>