@{ 
    ViewBag.Title = "Login";
}

@model LoginViewModel

<div id="login">
    <div class="row">
        <div class="col-md-4">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h4>Login</h4>
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <form asp-controller="Account" asp-action="Login" method="post">
                        <div class="form-group">
                            <label asp-for="@Model.Username" class="text-muted">Username</label>
                            <input asp-for="@Model.Username" type="text" class="form-control">
                            <span asp-validation-for="@Model.Username" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="@Model.Password" class="text-muted">Password</label>
                            <input asp-for="@Model.Password" type="password" class="form-control">
                            <span asp-validation-for="@Model.Password" class="text-danger"></span>
                        </div>
                        <div class="form-check">
                            <input asp-for="@Model.RememberMe" type="checkbox" class="form-check-input">
                            <label asp-for="@Model.RememberMe" class="form-check-label text-muted">Remember Me</label>
                        </div>
                        <button type="submit" class="btn btn-primary mt-3">Sign in</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>