@{
    ViewBag.Title = $"Settings";
}

@model SettingsViewModel

@if (ViewBag.Success != null && ViewBag.Success == true)
{
    <div class="alert alert-success alert-dismissible" role="alert">
        <span>Successfully updated your profile. Click <a asp-controller="Account" asp-action="Profile" class="alert-link">here</a> to view your profile.</span>
        <button type="button" class="close">
            <span>&times;</span>
        </button>
    </div>
}
@if (ViewBag.Success != null && ViewBag.Success == false)
{
    <div class="alert alert-danger alert-dismissible" role="alert">
        <span>Failed to update your profile.</span>
        <button type="button" class="close">
            <span>&times;</span>
        </button>
    </div>
}
<div id="settings">
    <div class="row gutters">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 column">
            <div class="card h-100 shadow-sm">
                <div class="card-body">
                    <h4 class="mb-3">Edit Profile</h4>
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <form asp-controller="Account" asp-action="Settings" method="post">
                        <input type="hidden" asp-for="@Model.UserId" />
                        <div class="row gutters">
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label asp-for="@Model.FirstName" class="text-muted">First Name</label>
                                    <input asp-for="@Model.FirstName" type="text" class="form-control">
                                    <span asp-validation-for="@Model.FirstName" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label asp-for="@Model.LastName" class="text-muted">Last Name</label>
                                    <input asp-for="@Model.LastName" type="text" class="form-control">
                                    <span asp-validation-for="@Model.LastName" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label asp-for="@Model.Email" class="text-muted">Email</label>
                                    <input asp-for="@Model.Email" type="text" class="form-control">
                                    <span asp-validation-for="@Model.Email" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label asp-for="@Model.PhoneNumber" class="text-muted">Phone</label>
                                    <input asp-for="@Model.PhoneNumber" type="text" class="form-control">
                                    <span asp-validation-for="@Model.Email" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row gutters">
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label asp-for="@Model.City" class="text-muted">City</label>
                                    <input asp-for="@Model.City" type="text" class="form-control">
                                    <span asp-validation-for="@Model.City" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label asp-for="@Model.Country" class="text-muted">Country</label>
                                    <input asp-for="@Model.Country" type="text" class="form-control">
                                    <span asp-validation-for="@Model.Country" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row gutters">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                <button type="submit" class="btn btn-primary">Save</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row gutters">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 column column-delete">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h4 class="mb-3">Delete Account</h4>
                    <p class="text-muted font-size-sm mb-0">Once you delete your account, there is no going back.</p>
                    <button type="button" class="btn btn-outline-danger mt-3 btn-delete">Delete</button>
                </div>
            </div>
        </div>
        <div class="modal modal-backdrop modal-delete">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-body">
                        <h4>Delete Account</h4>
                        <p>Are you sure you want to delete your account?</p>
                        <button type="button" class="btn btn-danger btn-delete-confirmation">Delete</button>
                        <button type="button" class="btn btn-secondary btn-cancel">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    $(document).ready(function () {
        $('.modal').hide();

        $('.close').click(function () {
            $('.alert').hide();
        });

        $('.btn-cancel').click(function () {
            $('.modal').hide();
        })

        $('.btn-delete').click(function () {
            $('.modal-delete').show();
        });

        $('.btn-delete-confirmation').click(function () {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("DeleteUser", "Account")',
                data: { 'userId': '@Model.UserId' },
                success: function () {
                    $('.modal-delete').hide();
                    window.location.replace('@Url.Action("Index", "Home")');
                },
                error: function () {
                    // log error
                }
            });
        });
    });
</script>